@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body { @apply overflow-x-hidden; font-family: "Outfit", sans-serif; }
    header, main, footer {
        @apply rounded-md;
        width: 82%;
        transition: width 0.5s ease, margin 0.5s ease;
    }

    header { @apply flex flex-col mt-6 z-10 shadow-xl bg-base-200; }
    main { @apply mt-6; }
    footer { @apply bg-base-200 mt-8 mb-6 flex justify-center; }

    @media (width < 1280px) { header, main, footer { width: 85%; } }
    @media (width < 640px) { header, main, footer { width: 94%; } }
}

@layer components {
    #app { @apply flex flex-col items-center; }
    .frame { @apply bg-base-200 mt-14 py-14 px-10 rounded-md; }
    .fix-header { @apply fixed mt-[0px] w-screen; }

    .main-button {
        @apply normal-case rounded-md flex font-medium border-none cursor-pointer select-none transition-all;
        padding: 8px 16px 8px 12px;
        background-size: 200% auto;
        color: #1f2937;
        box-shadow: 0px 0px 14px -7px #f09819;
        background-image: linear-gradient(45deg, #ff512f 0%, #f09819 51%, #ff512f 100%);
        touch-action: manipulation;
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 200ms;
    }

}

@layer utilities {

}

